@font-face {
    font-family: 'poppins';
    src: url('../font/Poppins-ExtraLight.ttf')
}

body {
    background-color: rgb(19,26,31);
    color: white;
    font-family: 'poppins';
    font-size: 16px;
}

button {
    text-decoration: none;
    background-color: transparent;
    font-family: 'poppins';
    color: white;
    border: none;
    outline: none;
    padding: none;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}

img {
    height: 12px;
    width: 12px;
    filter: drop-shadow(0px 0px 4px black);
}

h1 {
    font-size: 18px;
}

div.header {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

div.date {
    display: inline;
    font-size: 14px;
    margin-left: 10px;
}

div.add-item {
    height: 20px;
    width: 100%;
    text-align: center;
    padding: none;
    margin-top: 6px;
    margin-bottom: 20px;
}

div.add-item img {
    height: 16px;
    width: 16px;
    filter: drop-shadow(0px 0px 4px black);
}

div.add-item img:hover {
    filter: drop-shadow(0px 0px 4px lime);
}

div.list-item img:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px white);
}

div.list-item {
    width: 100%;
}

div.left-div {
    display: table-cell;
    width: 46px;
    min-width: 46px;
}

div.right-div {
    display: table-cell;
    width: 100%;
}

div.right-div input[type="text"] {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'poppins';
    font-size: 16px;
}

div.right-margin {
    display: table-cell;
    width: 10px;
    min-width: 10px;
}

div.bottom-div-collapsed {
    margin-top: -10px;
    border: none;
    height: 0px;
    font-size: 0px;
}

div.bottom-div-expanded {
    margin-top: -10px;
    display: block;
    min-height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

div.list-item a {
    margin-left: 6px;
    margin-right: 6px;
}

div.toolbar {
    margin-top: -10px;
    margin-bottom: 0px;
    padding-top: 0px;
    animation-name: collapse;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    border: none;
}

div.toolbar:hover {
    animation-name: expand;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div.toolbar:hover button,
div.toolbar:hover input {
    display: inline-block;
    animation-name: appear;
    animation-delay: 0.2s;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

div.toolbar button {
    margin-right: 10px;
    padding: 0 0 0 0;
    display: none;
    opacity: 0.0;
    height: 36px;
}

div.toolbar button img {
    height: 34px;
}

div.toolbar button:hover {
    cursor: pointer;
    opacity: 1.0;
    filter: drop-shadow(0px 0px 4px white);
}

div.toolbar #search img {
    width: 17px;
}

div.toolbar input {
    position: relative;
    display: none;
    opacity: 0.0;
    top: -13px;
    width: 100px;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

.fade-out,
input[type=checkbox]:checked ~ button {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes fade-out {
    0% { opacity: 1.0; }
    100% { opacity: 0.4; }
}

@keyframes expand {
    0% { height: 10px; }
    100% { height: 34px; }
}

@keyframes collapse {
    0% { height: 34px; }
    100% { height: 10px; }
}